tensorflow==2.13.0
tensorrt==8.6.1
requests==2.31.0
streamlit==1.26.0
scikit-learn==1.2.2
regex==2023.6.3
make==0.1.6.post2
torch==2.0.1
QuantLib==1.31
numpy==1.24.3
pandas==2.0.3
openai==0.27.8
modin==0.23.0 
gym==0.23.0
tf-agents==0.17.0
notanorm==3.9.1
yfinance==0.2.26
streamlit-extras==0.3.0
yahoo-fin==0.8.9.1
